/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&display=swap'); */

.background{
  background-color: #0E100F;
  height: 100vh;
  width: 100vw;
  padding: 10px;
  overflow: scroll;
}

.mainPage{
  height: 80vh;
  /* width: 1vw; */
  z-index: 50;
  background-color: #0E100F
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.06);
  color: #fcfcfc;
  margin: auto;
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
}

.form{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 10px;
  margin: auto;
  width: 25vw;
  padding: 5px;
}

.searchbar{
  background-color: transparent;
  border-radius: 10px;
  border: none;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  outline: none;
  /* Input text color should be white */
  font-family: 'Poppins', sans-serif;
  font-size: medium;
  color: #fcfcfc;
}

.searchbar:focus{
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  color: #fcfcfc;
  font-size: medium;
  font-weight: 700;
}

.searchicon{
  font-size: 20px;
  background-color: transparent;
  color: transparent;
  border: none;
  outline: none;
  padding: 3px;
  margin-left: 10px;
  margin-right: 5px;
}

.autocomplete{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 100;
  position: absolute;
  margin-left: 36vw;
  width: 25%;
  margin-top: -20px;
}

.searchicon:hover{
  background-color: rgb(0, 0, 0);
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 3px;
}

.toggleF{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 40px;
  padding: 5px;
  color: #fcfcfc;
  border: none;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-left: 20px;
  width: 55px;
}

.toggleC{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
  padding: 5px;
  color: #000000;
  border: none;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-left: 20px;
  width: 55px;
}

.entercity{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 10px;
  padding: 5px;
  color: #fcfcfc;
  border: none;
  width: 100%;
  height: 80vh;
}

.topRow{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  z-index: 50;
}

.currentCard{
  display: flex;
  align-items: start;
  justify-content: flex-end;
  flex-direction: column; 
  padding: 10px;
  border-radius: 30px;
  height: 350px;
  width: 350px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.06);
  color: #fcfcfc;
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif;
  padding-bottom: 20px;
  z-index: 50;
  /* background: url("https://images.unsplash.com/photo-1519680772-8b5c1b5b5f0d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2VhdGhlciUyMGNvbmRpdGlvbnxlbnwwfDB8MHx8&ixlib=rb-1.2.1&w=1000&q=80"); */
}

.windUvSun{
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  border-radius: 30px;
  height: 350px;
  width: 100%;
  margin-top: 10px;
  margin-left: 20px;
  background-color: rgba(255, 255, 255, 0.06);
  color: #fcfcfc;
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif;
}

.cityName{
  font-weight: 400;
  margin-left: 7px;
}

.weatherCondition{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 7px;
  font-weight: 100;
  margin-bottom: 10px;
  margin-left: 20px;
  width: 70px;
}

.temperature{
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-left: 20px;
}

.location{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7px;
  padding: 5px;
  font-weight: 100;
  margin-left: 15px;
}

.hrulecurrent{
  width: 90%;
  height: 1px;
  background-color: transparent;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
}

.locationIcon{
  font-size: 10px;
  
}

.lastupdated{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 5px;
  font-weight: 400;
  margin-left: 15px;
}

.lastupdatedtime{
  font-size: 12px;
  padding: 5px;
  font-weight: 400;
  margin-left: 5px;
}

.windUvSunTopRow{
  display: flex;
  flex-direction: row;
  align-items: space-evenly;
  justify-content: flex-start;
  padding: 3px;
  font-size: 12px;
  font-weight: 400;
  width: 100%;
  height: 60%;
  border-radius: 15px;
}

.windUvSuntitle{
  font-size: 12px;
  font-weight: 900;
  margin-left: 10px;
  margin-bottom: 10px;
}

.wind{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
  font-size: 12px;
  font-weight: 400;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 15px;
  width: 33%;
  padding-left: 20px;
  margin: 10px;
}
.windSpeed{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-weight: 700;
  margin-left: 10px;
}

.windSpeedSpeed{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: -3px;
}

.windSpeedUnit{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  margin-left: 5px;
}

.windTitle{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 15px;
  font-weight: 700;
}

.sunrise_and_sunset{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-weight: 700;
  margin-left: 10px;
  width: 90%;
}

.bottomRow{
  display: flex;
  flex-direction: row;
  align-items: space-evenly;
  justify-content: flex-start;
  padding: 3px;
  font-size: 12px;
  font-weight: 400;
  width: 100%;
  height: 40%;
  border-radius: 15px;
}

.forecastCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-evenly;
  width: 70%;
  height: 100%;
  border-radius: 15px;
  padding: 10px;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.06);
  color: #fcfcfc;
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif;
  padding-bottom: 20px;
}

.airQualityCard{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-evenly;
  width: 27.5%;
  height: 370px;
  border-radius: 15px;
  padding: 10px;
  margin-left: 10px;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.06);
  color: #fcfcfc;
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif;
  padding-bottom: 20px;
}

.airQuality{
  display: flex;
  flex-direction: column;
  height: 80%;
}

.airQualityRow{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 3px;
  font-size: 12px;
  font-weight: 400;
  width: 100%;
  height: 30%;
  border-radius: 15px;
}

/* make overflow hidden in forecast div */
.forecast{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
  font-size: 12px;
  font-weight: 400;
  height: 100%;
  border-radius: 15px;
  padding-left: 20px;
  margin: 10px;
  overflow-x: scroll;
  width: 100%;
}

.forecastDay{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  margin-left: 10px;
  background-color:rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 20px;
  border-radius: 15px;
  min-width: 200px;
  height: 250px;
}

.windUvSunBottomRow{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 3px;
  font-size: 12px;
  font-weight: 400;
  width: 100%;
  height: 60%;
  border-radius: 15px;
}

.wind2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
  font-size: 12px;
  font-weight: 400;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 15px;
  width: 31.5%;
  padding-left: 20px;
  margin: 10px;
}

.wind3{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
  font-size: 12px;
  font-weight: 400;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 15px;
  width: 31.5%;
  padding-left: 20px;
  margin: 10px;
}